@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);

  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);

  --content-container-bg: hsl(0, 0%, 100%);
}

.commissioner-400 {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}
.commissioner-500 {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}
.commissioner-700 {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}
button:hover {
  cursor: pointer;
}
input[type="radio"]:hover {
  cursor: pointer;
}
body {
  height: 100vh;
  height: 100svh;
  /* height: 100%; */
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  background-color: hsl(0, 0%, 98%);
}

main {
  height: 100%;
  grid-row: 1;
  grid-column: 1 / -1;

  position: relative;
}

header {
  z-index: 1;
  grid-row: 1;
  grid-column: 1 / -1;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10.1rem;
  padding-block-start: 3rem;
}
#desktop-nav {
  display: none;
}

#desktop-nav > menu {
  display: flex;
  padding: 0;
  font-size: 0.8rem;
  gap: 2.2rem;
  color: hsl(240, 33%, 99%);
}

.desktop-link:hover {
  color: hsl(20%, 16%, 96%);
}
li {
  list-style: none;
}
li > a {
  color: inherit;
  text-decoration: none;
}
.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 19.2rem;
  /* left: 24.6%; */
  left: 0;

  /* inline-size: 45.5rem; */
  border-radius: 10px;
  margin-inline: 22rem;
  gap: 1.4rem;
}
.mastercraft-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--content-container-bg);
  gap: 0.6rem;
  padding-block: 3.3rem 3rem;
  border-radius: 0.5rem;
  /* padding-inline: 0.5rem; */
}
.mastercraft-container > h1 {
  font-size: 1.76rem;
  color: var(--black);
}

.mastercraft-container > p {
  /* text-align: left; */
  color: hsl(0, 0%, 52%);
  padding-inline-start: 0.1rem;
  /* padding-block-start: 0.6rem; */
}
.mastercraft-logo {
  position: absolute;
  top: -1.75rem;
  left: calc(50% - 1.75rem);
}
.back-project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 1.7rem;
  width: 100%;
  padding-inline: 2.95rem;
  /* gap: 16rem; */
}
.back-project-container > button {
  background-color: var(--moderate-cyan);
  /* color: hsl(171, 72%, 89%); */
  color: hsl(180, 100%, 98%);
  font-size: 1rem;
  padding-block: 1rem;
  padding-inline: 2.55rem;
  border-radius: 2rem;
}

:is(
    .back-project-container > button,
    .reward-btn,
    .continue-btn,
    .got-it-btn
  ):hover {
  cursor: pointer;
  background-color: var(--dark-cyan);
}

.bookmark-container {
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 96%);
  color: var(--dark-gray);
  gap: 1rem;
  padding-inline-end: 1.5rem;
  border-radius: 2rem;
}
.bookmark-container:hover {
  cursor: pointer;
}

.bookmark-active > svg > g > circle {
  fill: var(--dark-cyan);
}

.bookmark-active > svg > g > path {
  fill: hsl(0, 33%, 99%);
}
.bookmark-active {
  color: var(--dark-cyan);
}
#hero-img {
  z-index: 0;
}
#hero-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tracking-container {
  background-color: var(--content-container-bg);
  display: flex;
  flex-direction: column;

  padding-inline: 3rem;
  padding-block: 3rem;
  border-radius: 0.5rem;
}
.tracking-amounts {
  display: flex;
  flex-direction: column;
  padding-block-end: 2.2rem;
  /* justify-content: space-evenly; */
}
.tracking-amounts > div {
  border-right: 0.005rem solid hsl(0, 0%, 90%);
}
.tracking-amounts > div:first-child {
  padding-inline-end: 2.5rem;
}
.tracking-amounts > div:nth-child(2) {
  padding-inline-start: 2.9rem;
  padding-inline-end: 5.6rem;
}

.tracking-amounts > div:last-child {
  border: 0;
  padding-inline-start: 3rem;
}
.tracking-amounts > div > h2 {
  font-size: 2rem;
}
.tracking-amounts > div > p {
  font-size: 0.95rem;
  color: var(--dark-gray);
}

.about-container {
  background-color: var(--content-container-bg);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.5rem;
  padding-inline: 3rem;
  padding-block: 3rem;
}
.about-heading {
  font-size: 1.25rem;
}

.about-container > p {
  font-size: 0.998rem;
  line-height: 1.83;
  color: hsl(0, 0%, 53%);
}
.choices {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  /* padding-block-start: 0.1rem; */
}
.choices-container {
  display: flex;
  flex-direction: column;
  padding-inline: 1.9rem;
  padding-block: 2.15rem 2rem;
  margin-block-start: 0.5rem;
  border: 0.005rem solid hsl(0, 0%, 90%);
  border-radius: 0.5rem;
  gap: 1.4rem;
}
.choices-container > p {
  line-height: 1.75;
  color: hsl(0, 0%, 53%);
}

.choice-heading {
  display: flex;
  justify-content: space-between;
}
.choice-heading > h4 {
  font-size: 1.12rem;
}
.choice-pledge {
  /* color: hsl(174, 38%, 60%); */
  color: var(--moderate-cyan);
  font-size: 0.93rem;
  line-height: 1.9;
}
.out-pledge {
  color: hsl(174, 38%, 81%);
}
.select-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 0.3rem;
}
.select-btn-container > h4 {
  font-size: 2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.out-heading {
  color: hsl(0, 0%, 49%);
}
.out-amount {
  color: hsl(0, 0%, 49%);
}
.select-btn-container > h4 > span {
  font-size: 1rem;
  color: var(--dark-gray);
}
.reward-btn,
.got-it-btn,
.continue-btn,
.no-reward-continue-btn {
  background-color: var(--moderate-cyan);
  color: hsl(180, 100%, 98%);
  padding-inline: 2rem;
  padding-block: 0.8rem;
  font-size: 0.9rem;
  border-radius: 1.5rem;
}
.no-reward-continue-btn {
  margin-inline-start: auto;
}
.out-btn {
  background-color: hsl(0, 0%, 80%);
  color: hsl(180, 100%, 98%);
  padding-block: 0.8rem;
  font-size: 0.9rem;
  border-radius: 1.5rem;
  padding-inline: 2.3rem;
}
progress {
  -webkit-appearance: none;
  appearance: none;
  color: var(--moderate-cyan);
  height: 0.8rem;
  width: 100%;
  border-radius: 10px;

  /* Firefox: Unfilled portion of the progress bar */
  background: hsl(0, 0%, 96%);
  /* border: 1px solid currentColor; */
}

/* Firefox: Filled portion of the progress bar */
progress::-moz-progress-bar {
  background: currentColor;
  border-radius: 10px;
}

/* Chrome & Safari: Unfilled portion of the progress bar */
progress::-webkit-progress-bar {
  background: hsl(0, 0%, 96%);
  border-radius: 10px;
}

/* Chrome & Safari: Filled portion of the progress bar */
progress::-webkit-progress-value {
  background: currentColor;
  border-radius: 10px;
}

#back-project-close-btn {
  align-self: flex-end;
}

#back-project-dialog {
  border: 0;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 17%;
}
#back-project-dialog[open] {
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  padding-inline: 2rem;
  padding-block: 2rem 2.5rem;
  gap: 1rem;
}
#back-project-dialog::backdrop,
#thanks-dialog::backdrop {
  background-color: hsl(from hsl(0, 0%, 0%) h s l / 0.5);
}

#dialog-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dialog-main-para {
  color: var(--dark-gray);
}
.dialog-choice-para {
  color: var(--dark-gray);
  font-size: 1.08rem;
  padding-block-start: 1rem;
}
.dialog-pledge {
  display: none;
}
.dialog-radio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-block: 1.5rem;
  border: 0.005rem solid hsl(0, 0%, 90%);
  border-radius: 0.5rem;
}

.dialog-radio-container:has(input[type="radio"]:checked) {
  border: 0.2rem solid var(--moderate-cyan);
}
.dialog-input-container {
  display: flex;
  gap: 1rem;
  padding-inline: 1.5rem;
}
input[type="radio"] {
  height: 2rem;
  width: 1.5rem;
}
input[type="radio"]:checked {
  accent-color: hsl(148.63deg 38.08% 44.06%);
}
.dialog-input-container:has(input[type="radio"]:checked) + .dialog-pledge {
  display: flex;
  align-items: center;
  border-top: 0.15rem solid hsl(0, 0%, 90%);
  margin-block-start: 1.5rem;
  padding-inline: 1.5rem;
  padding-block-start: 1.5rem;
  width: 100%;
  gap: 1rem;
}

.dialog-lab-container {
  flex: 1;
}

label {
  display: flex;
  gap: 0.5rem;
}

label:has(+ input[name="pledge-amount"], + .input-symbol) {
  color: var(--dark-gray);
  margin-inline-end: auto;
}
:not(input:disabled) + .dialog-lab-container > label > span:first-child:hover {
  color: var(--moderate-cyan);
  cursor: pointer;
}
input[name="pledge-amount"] {
  all: unset;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 3rem;
  width: 4rem;
  height: 2.5rem;
  padding-inline-start: 1.5rem;
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
  text-indent: 0.5rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-symbol {
  position: relative;
}

input[type="number"]:hover {
  cursor: pointer;
  border: 0.1rem solid var(--dark-cyan);
}

.input-symbol:before {
  position: absolute;
  top: 0.6rem;
  content: "$";
  left: 1rem;
  color: var(--dark-gray);
}
.amount-left {
  margin-inline-start: auto;
  font-size: 1.1rem;
}
.amount-left > span {
  color: var(--dark-gray);
}
.label-pledge {
  color: var(--moderate-cyan);
}
.dialog-amount {
  font-size: 0.9rem;
}
#thanks-dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  border-radius: 0.5rem;
  margin: auto;
  text-align: center;
  gap: 2rem;
  padding-block: 3rem;
  padding-inline: 2rem;
}
#thanks-dialog > p {
  width: 50ch;
  color: var(--dark-gray);
  /* text-align: center; */
}
@media (min-width: 35rem) {
  #hamburger-btn {
    display: none;
  }
  #desktop-nav {
    display: flex;
  }
  #mobile-nav {
    display: none;
  }
  .tracking-amounts {
    flex-direction: row;
  }
}
