@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

:root {
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);

  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);

  --content-container-bg: hsl(0, 0%, 100%);
}

.commissioner-400 {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}
.commissioner-500 {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}
.commissioner-700 {
  font-family: "Commissioner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0, "FLAR" 0, "VOLM" 0;
}
body {
  height: 100vh;
  height: 100svh;
  /* height: 100%; */
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  background-color: hsl(0, 0%, 98%);
}

main {
  height: 100%;
  grid-row: 1;
  grid-column: 1 / -1;

  position: relative;
}

header {
  z-index: 1;
  grid-row: 1;
  grid-column: 1 / -1;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10.1rem;
  padding-block-start: 3rem;
}
#desktop-nav {
  display: none;
}

#desktop-nav > menu {
  display: flex;
  padding: 0;
  font-size: 0.8rem;
  gap: 2.2rem;
  color: hsl(240, 33%, 99%);
}
li {
  list-style: none;
}
li > a {
  color: inherit;
  text-decoration: none;
}
.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 19.2rem;
  left: 24.6%;

  inline-size: 45.5rem;
  border-radius: 10px;

  gap: 2rem;
}
.mastercraft-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--content-container-bg);
  gap: 0.6rem;
  padding-block: 3.3rem;
  border-radius: 0.5rem;
  /* padding-inline: 0.5rem; */
}
.mastercraft-container > h1 {
  font-size: 1.76rem;
  color: var(--black);
}

.mastercraft-container > p {
  /* text-align: left; */
  color: hsl(0, 0%, 52%);
  padding-inline-start: 0.1rem;
  /* padding-block-start: 0.6rem; */
}
.mastercraft-logo {
  position: absolute;
  top: -1.75rem;
  left: calc(50% - 1.75rem);
}
.back-project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.back-project-container > button {
  background-color: var(--moderate-cyan);
  /* color: hsl(171, 72%, 89%); */
  color: hsl(180, 100%, 98%);
  font-size: 1rem;
  padding-block: 1rem;
  padding-inline: 2.5rem;
  border-radius: 2rem;
}

.bookmark-container {
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 96%);
  color: var(--dark-gray);
  gap: 1rem;
  padding-inline-end: 1.5rem;
  border-radius: 2rem;
}
#hero-img {
  z-index: 0;
}
#hero-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tracking-container {
  background-color: var(--content-container-bg);
}

@media (min-width: 35rem) {
  #hamburger-btn {
    display: none;
  }
  #desktop-nav {
    display: flex;
  }
  #mobile-nav {
    display: none;
  }
}
